body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
}
:focus {
	outline: none;
}
.button {
	font-size: 11px;
	font-style: italic;
	color: #fff;
	background-color: #E3B873;
	border-radius: 2px;
	text-transform: uppercase;
	border: none;
}
.title {
	font-family: Yeseva One;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #fff;
}
.button.button-transparent {
	background-color: transparent;
	border: solid 1px #fff;
}
.column1438 {
	width: 1438px;
	margin: auto;
}
.colorE3B873 {
	color: #E3B873;
}
h1 {
	margin: 0;
}

/*-------------------------------*/

.header {
	background-color: #131313;
	min-width: 1438px;
}
.header-container {
	display: flex;
	height: 83px;
	justify-content: space-between;
	align-items: center;
}
.logo {
	color: #E3B873;
	font-size: 11px;
	padding-left: 92px;
	text-transform: uppercase;
}
.header-navigation {
	list-style-type: none;
}
.header-navigation-item {
	display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}
.header-navigation-link {
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
}
.header-navigation-link.active {
	color: #E3B873;
}
.header-right {
	padding-right: 90px;
}
.header-phone {
	display: inline-block;
	padding-right: 45px;
	font-size: 11px;
	color: #E3B873;
}
.button-header {
	width: 161px;
	height: 37px;
}

/*-------------------------------*/

.screen-background-1 {
	background: url('../images/background1.jpg') no-repeat;
	background-size: 100%;
	min-width: 1438px;
	min-height: 707px;
	padding-top: 194px;
	position: relative;
	z-index: -1;
}
.screen-background-1:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: -1;
}
.screen-1 {
	margin-left: 134px;
	width: 510px;
}


/*font-family: 'Yeseva One', cursive;*/