* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
}
.button {
	font-size: 11px;
	font-style: italic;
	color: #fff;
	background-color: #E3B873;
	border-radius: 2px;
	text-transform: uppercase;
	border: none;
}
.title {
	font-family: 'Yeseva One', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #fff;
}
.title2 {
	font-family: 'Yeseva One', cursive;
	font-size: 27px;
	font-style: normal;
	font-weight: normal;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}
.button.button-transparent {
	background-color: transparent;
	border: solid 1px #fff;
}
h1, h2 {
	margin: 0;
}


.column1438 {
	width: 1438px;
	margin: auto;
}
.colorE3B873 {
	color: #E3B873;
}
.button207x51 {
	width: 207px;
	height: 51px;
}
.margin-left-20 {
	margin-left: 20px;
}
.margin-left-134 {
	margin-left: 134px;
}

/*-------------------------------*/

.header {
	background-color: #131313;
	min-width: 1438px;
}
.header-container {
	display: flex;
	height: 83px;
	justify-content: space-between;
	align-items: center;
}
.logo {
	color: #E3B873;
	font-size: 11px;
	padding-left: 92px;
	text-transform: uppercase;
}
.header-navigation {
	list-style-type: none;
}
.header-navigation-item {
	display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}
.header-navigation-link {
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
}
.header-navigation-link.active {
	color: #E3B873;
}
.header-right {
	padding-right: 90px;
}
.header-phone {
	display: inline-block;
	padding-right: 45px;
	font-size: 11px;
	color: #E3B873;
}
.button-header {
	width: 161px;
	height: 37px;
}

/*-------------------------------*/

.screen-background-1 {
	background: url('../images/background1.jpg') no-repeat;
	background-size: 100%;
	min-width: 1438px;
	min-height: 707px;
	padding-top: 194px;
	position: relative;
	z-index: -1;
}
.screen-background-1:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: -1;
}
/*.screen-1 {
	margin-left: 134px;
}*/
.screen-1-text {
	width: 504px;
	font-size: 22px;
	color: #fff;
	line-height: 36px;
	padding-top: 19px;
	padding-bottom: 40px;
}

.screen-background-2 {
	background-color: #131313;
	min-width: 1438px;
	min-height: 1074px;
	padding-top: 107px;
	padding-bottom: 226px;
}
/*.screen-2 {
	margin-left: 134px;
}*/
.screen-2-header {
	padding-top: 70px;
	width: 492px;
	padding-right: 50px;
	float: left;
}
.screen-2-content {
	float: right;
	padding-right: 132px;
}
.screen-2-navigation {
	list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline: 0px;
	margin-bottom: 48px;
    margin-top: 0;
}
.screen-2-navigation-item {
	flex-grow: 1;
/*	display: inline-block;
    padding-left: 24px;
    padding-right: 24px;*/
}
.screen-2-navigation-link {
	font-family: 'Yeseva One', cursive;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	letter-spacing: 0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0.3;
	display: inline-block;
	padding-bottom: 7px;
}
.screen-2-navigation-link.active {
	color: #E3B873;
	border-bottom: solid 1px #E3B873;
	opacity: 1;
}


.screen-2-content-img {
	width: 679px;
	height: 472px;
}
.screen-2-footer {
/*	padding-top: 70px; */
	float: left;
	width: 492px;
	padding-right: 50px;
}
