* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:focus {
	outline: none;
}
body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
button {
	font-size: 11px;
	font-style: italic;
	color: #fff;
	background-color: #E3B873;
	border-radius: 2px;
	text-transform: uppercase;
	border: none;
}
.title {
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #fff;
}
.title2 {
	font-family: 'Yeseva One', cursive;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	padding-bottom: 34px;
}
.title3 {
	font-family: 'Yeseva One', cursive;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	color: #fff;
}
button.button-transparent {
	background-color: transparent;
	border: solid 1px #fff;
}
.input-container {
	font-size: 13px;
	color: rgba(54, 54, 54, 0.5);
	width: 231px;
	display: inline-block;
	text-align: left;
	margin-right: 50px;
}
.input-container input {
	font-size: 14px;
	color: #363636;
	padding-bottom: 8px;
	padding-top: 7px;
	border: none;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	width: 100%;
}
.checkbox-container {
	font-size: 14px;
	color: #181818;
}
.checkbox-container input {
	margin-right: 8px;
	position: relative;
	transform: scale(1.38);
}
.checkbox-container input:before {
	content: '';
	background-color: #E3B873;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.checkbox-container input:checked:after {
	content: '';
	background: url('../images/icon/chk.svg') no-repeat;
	background-size: 100%;
	position: absolute;
	top: 3px;
	left: 3px;
	bottom: 3px;
	right: 3px;
}
.icon-3img {
	margin-bottom: 41px;
	width: 32px;
}
.icon-3img ~ img {
	margin-left: 8px;
	margin-bottom: 41px;
	width: 32px;
}
.icon-3img + img {
	margin-top: 13px;
	margin-left: 10px;
	margin-bottom: 31px;
	width: 33px;
	height: 28px;
}


.column1438 {
	width: 1438px;
	margin: auto;
}
.colorE3B873 {
	color: #E3B873;
}
.button207x51 {
	width: 207px;
	height: 51px;
}
.button200x51-normal {
	width: 200px;
	height: 51px;
	font-size: 13px;
	font-style: normal;
}
.margin-left-20 {
	margin-left: 20px;
}
.margin-left-134 {
	margin-left: 134px;
}

/*-------------------------------*/

.header {
	background-color: #131313;
	min-width: 1438px;
}
.header-container {
	display: flex;
	height: 83px;
	justify-content: space-between;
	align-items: center;
}
.logo {
	color: #E3B873;
	font-size: 11px;
	padding-left: 92px;
	text-transform: uppercase;
}
.header-navigation {
	list-style-type: none;
}
.header-navigation-item {
	display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
}
.header-navigation-link {
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
}
.header-navigation-link.active {
	color: #E3B873;
}
.header-right {
	padding-right: 90px;
}
.header-phone {
	display: inline-block;
	padding-right: 45px;
	font-size: 11px;
	color: #E3B873;
}
.button-header {
	width: 161px;
	height: 37px;
}

/*-------------------------------*/

.screen-background-1 {
	background: url('../images/background1.jpg') no-repeat;
	background-size: 100%;
	min-width: 1438px;
	min-height: 707px;
	padding-top: 194px;
	position: relative;
	z-index: 0;
}
.screen-background-1:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: -1;
}
/*.screen-1 {
	margin-left: 134px;
}*/
.screen-1-text {
	width: 504px;
	font-size: 22px;
	color: #fff;
	line-height: 36px;
	padding-top: 19px;
	padding-bottom: 40px;
}

.screen-background-2 {
	background-color: #131313;
	min-width: 1438px;
	min-height: 1074px;
	padding-top: 107px;
	padding-bottom: 226px;
}
/*.screen-2 {
	margin-left: 134px;
}*/
.screen-2-header {
	padding-top: 70px;
	width: 492px;
	padding-right: 50px;
	float: left;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
}
.screen-2-content {
	float: right;
	padding-right: 132px;
}
.screen-2-navigation {
	list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline: 0px;
	margin-bottom: 48px;
    margin-top: 0;
}
.screen-2-navigation-item {
	flex-grow: 1;
/*	display: inline-block;
    padding-left: 24px;
    padding-right: 24px;*/
}
.screen-2-navigation-link {
	font-family: 'Yeseva One', cursive;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 19px;
	letter-spacing: 0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0.3;
	display: inline-block;
	padding-bottom: 7px;
}
.screen-2-navigation-link.active {
	color: #E3B873;
	border-bottom: solid 1px #E3B873;
	opacity: 1;
}
.screen-2-content-img {
	width: 679px;
	height: 472px;
}
.screen-2-footer {
	display: table;
	float: left;
	width: 492px;
	padding-right: 50px;
	padding-top: 42px;
}
.screen-2-footer-row-header {
	display: table-row;
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}
.screen-2-footer-row {
	display: table-row;
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
}
.screen-2-footer-cell {
	display: table-cell;
}
.screen-2-footer-row .screen-2-footer-cell {
	padding-top: 9px;
	padding-bottom: 34px;
}
.screen-2-footer-navigation {
	padding-top: 45px;
}
.screen-2-footer-navigation-link {
	display: inline-block;
}
.screen-2-footer-navigation-link img {
	width: 42px;
	height: 14px;
}
.screen-2-footer-navigation-link-radius {
	display: inline-block;
	border: solid 5px #fff;
	border-radius: 5px;
	margin-left: 9px;
	margin-right: 9px;
	opacity: 0.3;
	margin-bottom: 2px;
}
.screen-2-footer-navigation-link-radius.active {
	opacity: 1;
}
.screen-2-footer-navigation-link:first-child {
	margin-right: 20px;
}
.screen-2-footer-navigation-link:last-child {
	margin-left: 20px;
}

.screen-3 {
	margin-top: -324px;
	text-align: center;
}
.screen-3-video {
	width: 817px;
	height: 434px;
	margin-left: auto;
    margin-right: auto;
}
.screen-3-video + img {
	margin-top: 62px;
	margin-bottom: 35px;
	width: 55px;
}
.screen-3-text {
	width: 681px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 94px;
}
.screen-3 .checkbox-container {
	margin-top: 35px;
}
.screen-4 {
	margin-top: 147px;
	text-align: center;
}
.screen-4 .title3 {
	color: #181818;
}
.screen-4-content {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	width: 1236px;
}
.screen-4-price {
	text-align: left;
}
.screen-4-price > img {
	width: 392px;
	height: 421px; 
	text-align: left;
}
.screen-4-price-ul {
	margin: -127px 31px 0 31px;
	padding: 25px 29px 49px 34px;
	text-align: left;
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	background-color: #fff;
	position: relative;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.screen-4-price-ul ul {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
	color: #959595;
}
.screen-4-price-ul li {
	margin-top: 13px;
    margin-left: 15px;
}
.screen-4-price button {
	margin: -26px 0 0 31px;
	width: 228px;
	height: 54px;
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	font-style: normal;
	text-transform: uppercase;
	position: relative;
}
.screen-4-footer-left {
	display: inline-block;
	width: 50%;
	background: url('../images/background4.jpg') no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 126px;
	height: 645px;
}
.screen-4-footer-left ol {
	counter-reset: numberLi; 
	list-style: none; 
	text-align: left;
	margin-left: 317px;
}
.screen-4-footer-left li {
	position: relative;
	margin-top: 122px;
	font-size: 14px;
	color: #363636;
}
.screen-4-footer-left li:before {
	counter-increment: numberLi 10;
	content: counter(numberLi);
	unicode-bidi: bidi-override;
	direction: rtl;
	position: absolute;
	left: -69px;
	top: 50%;
	margin-top: -29px;
	background: #E3B873;
	padding-top: 10px;
	height: 32px;
	width: 42px;
	border: 8px solid white;
	text-align: center;
	border-radius: 30px;
	font-family: 'Yeseva One', cursive;
	font-size: 18px;
	color: #fff;
}
.screen-4-footer-right {
	display: inline-block;
	width: 50%;
	text-align: left;
}
.screen-4-footer-right form {
	text-align: center;
	margin: 247px 100px 0 113px;
	padding: 28px 49px 78px 49px;
	background-color: #131313;
	font-size: 18px;
	color: #fff;
}
.screen-4-footer-right .input-container {
	padding: 39px 0 8px 0;
	color: rgba(255, 255, 255, 0.5);
	width: 100%;
}
.screen-4-footer-right .input-container input {
	background-color: #131313;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	color: #fff;
}
.screen-4-footer-right .checkbox-container {
	text-align: left;
	padding-top: 8px;
	padding-bottom: 39px;
	color: #fff;
}
.screen-4-footer-right button {
	float: right;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	border-radius: 0;
	width: 213px;
}
.screen-4-footer-right-pig {
	display: inline-block;
	width: 72px;
	height: 72px;
	background-color: #E3B873;
	border-radius: 36px;
	margin-top: 38px;
	margin-left: 143px;
}
.screen-4-footer-right-pig img {
	margin: 16px 0 0 16px;
	width: 41px;
	height: 35px;
}
.screen-4-footer-right-pig-text {
	display: inline-block;
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
	padding-left: 26px;
	position: relative;
    top: 5px;
}

.screen-5 {
	background: url('../images/background5.jpg') no-repeat;
	background-size: 100%;
	min-width: 1440px;
	min-height: 864px;
	position: relative;
	z-index: 0;
	margin-top: 242px;
}
.screen-5:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
	z-index: -1;
}
.screen-5-col-1 {
	width: 587px;
	float: left;
	padding-left: 99px;
	padding-top: 137px;
}
.screen-5-col-1 h2 {
	padding-bottom: 20px;
	color: #E3B873;
}
.screen-5-col-1 ul {
	list-style: none; 
}
.screen-5-col-1 li {
	margin-top: 22px;
}
.screen-5-col-1 li a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.screen-5-col-1 li a.active {
	color: #E3B873;
	border-bottom: 1px solid #E3B873;
}
.screen-5-col-2 {
	width: 397px;
	float: left;
	margin-top: -41px;
}
.screen-5-col-2 > img {
	margin-bottom: 39px;
}
.screen-5-col-3 {
	width: 397px;
	float: left;
	margin-top: -112px;
}
.screen-5-col-3 > img {
	margin-bottom: 37px;
}

.screen-6 {
	margin-top: 110px;
	text-align: center;
}
.screen-6 h3 {
	color: #181818;
}
.screen-6-flex {
	display: flex;
	justify-content: space-between;
}
